{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8" />

<head>
	<title>Mercer Island Water Co</title>
	<link rel='stylesheet' type='text/css' href="{% static 'website/css/style.css' %}" />
	<link rel='icon' type='image/png' href="{% static 'website/images/miwc_text_icon.png' %}" />
</head>

<body>
	<div class="upper">
		<div class="nav-top">
		</div>

		<div class="announce">
			<br>
			<h1>Precision water quality.<br>Coming Soon.</h1>
			<br>
			<br>
			<img width="100px" height="100px" src="{% static 'website/images/miwc_text_icon.png' %}" /></a>
		</div>
	</div>
	<div class="section">
		<div class="section-text">
			Water quality is essential to your health.<br><br><br>
			pesticides, pharmaceuticals, chlorine, ...<br><br><br><br><br>
			Water treatment has not kept up. <br><br>	
			We need a new approach.
		</div>
	</div>
	<div class="middle"></div>
	<div class="footer-container">
		
		<div class="footer-right">
			<div id="mc_section" class="signup-form">
				<form action="//mercerislandwater.us8.list-manage.com/subscribe/post?u=e55b2f1a3b5c1a1fb55b68ac1&amp;id=1b2aaac3f2" method="post" id="mc-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					<div class="footer-right-text">Get news and updates:</div>
					<input type="email" value="" name="EMAIL" class="email" id="mc-email" placeholder="Enter email" required>
					<br>
					<input type="submit" value="Subscribe" name="subscribe" id="mc-subscribe" class="button">
					<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
					<div style="position: absolute; left: -5000px;"><input type="text" name="b_e55b2f1a3b5c1a1fb55b68ac1_1b2aaac3f2" tabindex="-1" value=""></div>
				</form>
				<div style="text-align: center; margin-top: 20px;">
					<a href="https://twitter.com/MIWaterCo" target="_blank"><img width="40px" height="40px" src="{% static 'website/images/ico-twitter.png' %}" /></a>
					&nbsp;&nbsp;
					<a href="https://plus.google.com/+MercerislandwaterCompany/posts" target="_blank" ><img width="40px" height="40px" src="{% static 'website/images/ico-google.png' %}" /></a>
				</div>
			</div>
		</div>
				
		
		<div itemscope itemtype="http://schema.org/Organization" class="footer-bottom">
			<div class="logo-bottom">
				<object height="40%" width="40%" itemprop="logo" type="image/svg+xml" data="{% static 'website/images/miwc_logo.svg' %}" />
				</object>
			</div>
			<div class="footer-left-text">
				Our mission is to measure and improve the world’s water quality.
				<br><br>
				&copy; 2014 <a href="https://www.mercerislandwater.com" style="text-decoration: none;" itemprop="url"><span itemprop="name">Mercer Island Water Company</span></a>
			</div>
		</div>
	</div>

	
<script>
  	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  	ga('create', 'UA-54747323-1', 'auto');
  	ga('send', 'pageview');
</script>

</body>
</html>