body{
	background-color: #FFFFFF;
	color: #3B3B3B;
	font-size: 14px;
	font-family: "Helvetica Neue","Helvetica","Arial",sans-serif;
	-webkit-font-smoothing: antialiased;
	max-width: 100%;
	margin: 0;
	line-height: 1.2;
	vertical-align: top;
	letter-spacing: 1px;
}
html{
	box-sizing: border-box;
}
.nav {
	width: 100%;
	background-color: #3B3B3B;
	display: inline-block;
	position: relative;
}
.nav-logo {
	display: inline-block;
	position: static;
	margin: 15px 0 15px 0;
}
.nav-items {
	display: inline-block;
	position: relative;
	color: #DDDDDD;
}
.nav-link {
	display: inline-block;
	position: relative;
	font-weight: 500;
	letter-spacing: 1px;
}
.image-container {
	display: inline-block;
	position: relative;
	width: 100%;
}
.grid-container {
	display: inline-block;
	position: relative;
	width: 90%;
	left: 5%;
}
.section-container {
	display: inline-block;
	position: relative;
}
.section-headline {
	font-weight: 300;
	color: #1B1B1B;
}

.section-container-center{
	text-align:center;
}

.image-headline {
	position:absolute;
	font-weight: 100;
	letter-spacing: 2px;
	color: #333333;
	width: 40%;
}


a.nav-link{
	text-decoration:none;
	color: inherit;
	background-color: transparent;
}
a.nav-items:focus{
	}
.nav-items:hover .nav-link:hover {
    color: #29aae1;
}
img{
	max-width:100%;
	max-height:100%;
}
.copy:hover .link:hover {
    color: #29aae1;	
}
.footer {
	display:inline-block;
	position:relative;
	width: 100%;
	background-color: #3B3B3B;
	color:#DDDDDD;
}
.footer-logo-container{
	padding: 15px 0 0 0;
}
.footer-logo{
	width: 22px;/* h = 1.5w */
	height: 33px;	
}
.copyright{
	font-size: 14px;
	padding: 0 0 10px 0;
	width: 90%;
}
.mission{
	font-size: 18px;
	width: 90%;
	padding: 15px 0 15px 0;
}
.link {
	font-weight: 400;
	color:#2C3E50;
	text-decoration: none;
}
.copy{
	font-weight: 200;
	color: #1B1B1B;
	letter-spacing: 0.5px;
	text-align: justify;
}
.photo-caption{
	text-align:right;
	padding-top: 5px;
	color:#999999;
}
.copy-box{
	vertical-align: top;
	display: inline-block;
}
.photo-box{
	vertical-align: top;
	display: inline-block;
}